*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-style: none;
    color:black;
}

ul{
    list-style: none;
    background-color: #7460aa;

}

a{
    text-decoration: none;
}

body{
 background-color: black;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

header ul{
    display: flex;
    background-color: #7460aa;
}
header ul li{
    padding: 5px;
    background-color:aliceblue;
    width: 100px;
    font-family: sans-serif;

}

header ul li a:hover{
    color: #5b415a;
    text-decoration: underline;
    transition: 500ms;
    background-color:#7460aa;

}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.conteudo-container{
    font-family:'Times New Roman', Times, serif;
    align-content: center;
    display:flex;
    margin: auto;
    justify-content: center;
    width: 50px;
    position: relative;
    
}

.conteudo-container img{
    width: 600px;
    height: 100%;
    margin: 0;
    padding: 10px;

    
}

#tetris{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top:61%;
    left:0%;
    cursor: pointer;
    animation: blink 1s steps(5,start)infinite;
    text-decoration-color: black;

}

main{
    padding: 20px;
    border-radius: 10px;
    min-width: 270px;
    max-width: 900px;
    margin: auto;
    
}

